/*
lesson #2.1

flexbox 로는 grid 를 만들기가 어렵다. 그러니 grid 를 쓰자!
*/

.father {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.child {
  flex-basis: 30%;
  background: peru;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 18px;
}
